.image-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 25px;
  padding-right: 30px;
}

.image-container img {
  width: 38px;
  height: 38px;
}

.image-container {
  position: relative;
}
