.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.catchphrase {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 10%;
}

.login-logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.login-logo img {
  width: 40px;
  height: 40px;
}

.login-logo a {
  font-size: var(--typo-heading-2);
  font-weight: var(--typo-heading-2-weight);
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  border-radius: 15px;
  width: 30%;
  max-width: 600px;
}

.signup-form input {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  border: 1px solid var(--gray2-color);
  background-color: var(--gray1-color);
  border-radius: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-top: 2%;
}

.cancel-button,
.signup-button {
  padding: 10px;
  width: 48%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.cancel-button {
  background-color: var(--gray3-color);
}

.signup-button {
  background-color: var(--main-color);
  color: var(--white-color);
}
